<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="bootstrap :: bootstrap"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}" />
</head>
<body>

<div id="log">
    <div class="container mt-5">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid Username or Password
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="username" class="form-control" placeholder="User Name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-4">
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Log in</button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <a href="/registration"> Registrate</a>
        </form>

    </div>
</div>

</body>
</html>