<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="bootstrap :: bootstrap"></div>
</head>
<body>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="style.css" />


<div class="container mt-5">
    <form action="#" th:action="@{/registration}" th:object="${user}"
          method="post">
        <h2 class="text-center">Registration</h2>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span> <input
                    type="text" class="form-control" th:field="*{username}"
                    placeholder="Username" />

            </div>
            <span class="label label-danger" th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"></span>

            <span class="label label-danger" th:if="${usernameError}"
                  th:text="${usernameError}"></span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
                    type="password" class="form-control" th:field="*{password}"
                    placeholder="Password" />

            </div>
            <span class="label label-danger" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
                    type="password" class="form-control" th:field="*{password2}"
                    placeholder="Password Confirm" />

            </div>
            <span class="label label-danger" th:if="${#fields.hasErrors('password2')}"
                  th:errors="*{password2}"></span>

            <span class="label label-danger" th:if="${password2Error}"
                  th:text="${password2Error}"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Registrate</button>
        </div>

    </form>
</div>

</body>
</html>